@media only screen and (max-width: 599px) {
  .navbar-brand {
      color: white !important;
  }
}

@media only screen and (min-width: 600px) {
  .navbar-brand {
      margin-left: 10%;
      margin-right: 10%;
      color: white !important;
  }
}

.navbar {
  opacity: 70%;
  font-family: 'Open Sans';
  height: 5.5em;
  color: white !important;
  position: absolute;
}
.navbar-brand{
  margin-left: 4em;
  margin-right: 4em;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: .1em;
  color: white !important;
}
.navbar-nav{
  font-size:small;
  letter-spacing: .1em;
  color: white !important;
}
.nav-item{
  margin-left: 2em;
  margin-right: 2em;
}
.about{
  margin-left: 4em;
  margin-right: 2em;
}
.sign-up{
  margin-left: 26em;
  margin-right: .5em;
}
.login{
  margin-left: .5em;
  margin-right: 2em;
}
.w { color: white; font-family: 'Open Sans'; }
.w1 { color: white; font-family: 'Open Sans'; letter-spacing: 2px; font-size: 12px; font-weight: bold; }
.y { color: #FFB548; }
.play{ font-size: 4em;  font-weight: bold; letter-spacing: .1em; padding-top: 4.8em; }
.ex { letter-spacing: .2em; padding-top: 2em; }
.btn-yellow { padding-top: 4em; }
.font{ font-family: 'Open Sans'; font-size:small; font-weight: bold; padding-top: 1.5em; padding-bottom: 1.3em; padding-left: 7em; padding-right: 7em; }

.mainpage1 {
  background: url("assets/main-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.mainpage2 {
  background: url("assets/the-games-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#id-game{
  font-size: 1.5em;
  letter-spacing: .1em;
  padding-top: 5.5em;
  padding-left: 3.2em;
}
#id-thegames{
  font-size: 2.8em;
  padding-left: 1em;
  letter-spacing: .1em;
}

#mainpage3 {
  background: url("assets/feature.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Arial";
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
  padding-top: 10%;
  padding-left: 55%;
}

#mainpage4 {
  background: url("assets/requirements.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  letter-spacing: 2px;
}
.container-kotak{
  width: 40%;
  background: url("assets/disquette.svg");
  height: 49vh;
  width: 70.2vh;
  padding-top: .5em;
}

#mainpage5 {
  height: 100vh;
  background: url("assets/one.jpeg");
  background-size: cover;
  background-position: center;
}

#mainpage6 {
  height: 100vh;
  background: url("assets/two.jpeg");
  background-size: cover;
  background-position: center;
}

#judul{
  image-orientation: 50%;
}